absl-py==2.1.0
ai21==1.0.3
aioboto3==13.1.1
aiobotocore==2.13.1
aiodns==3.2.0
aiofiles==23.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aioitertools==0.11.0
aiosignal==1.3.1
alpaca-py==0.28.0
alpaca-trade-api==3.2.0
alpha_vantage==3.0.0
altair==5.1.2
annotated-types==0.6.0
ansi2html==1.9.2
anthropic==0.3.11
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.4
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
Babel==2.15.0
backoff==2.2.1
backtrader==1.9.78.123
base58==2.1.1
bcrypt==4.1.3
beautifulsoup4==4.11.1
bidict==0.23.1
bitarray==2.9.2
black==24.8.0
bleach==6.1.0
blinker==1.6.3
blosc2==2.7.0
boto3==1.34.131
botocore==1.34.131
bs4==0.0.2
build==1.2.1
CacheControl==0.14.0
cachetools==5.3.2
ccxt==4.1.78
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.0
chroma-hnswlib==0.7.5
chromadb==0.5.4
cleo==2.1.0
click==8.1.7
cohere==5.3.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.2.0
crashtest==0.4.1
croniter==3.0.3
cryptography==43.0.0
cssselect2==0.7.0
cycler==0.12.1
cytoolz==0.12.3
dash==2.17.0
dash-bootstrap-components==1.6.0
dash-bootstrap-templates==1.1.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.3
datasets==2.15.0
debugpy==1.8.0
decorator==5.1.1
deeplake==3.9.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
dnspython==2.5.0
dotenv-python==0.0.1
duckdb==1.0.0
dulwich==0.21.7
ecdsa==0.16.0
email_validator==2.2.0
entrypoints==0.4
environs==9.5.0
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.7.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
exchange_calendars==4.5.5
executing==2.0.1
faiss-cpu==1.7.4
fastapi==0.109.0
fastavro==1.9.5
fastjsonschema==2.20.0
fastquant==0.1.8.1
ffmpy==0.3.1
filelock==3.13.1
Flask==3.0.0
Flask-BabelEx==0.9.4
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.47.2
fqdn==1.5.1
frozendict==2.4.0
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.32.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gradio_client==0.8.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.65.1
h11==0.14.0
h5py==3.11.0
hexbytes==0.3.1
html5lib==1.1
httpcore==1.0.2
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.19.4
humanfriendly==10.0
humbug==0.3.2
ibapi==9.81.1.post1
identify==2.6.0
idna==3.4
imageio==2.35.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
inflection==0.5.1
iniconfig==2.0.0
injector==0.21.0
installer==0.7.0
ipfshttpclient==0.8.0a2
ipykernel==6.29.4
ipython==8.26.0
ipython-genutils==0.2.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.9
jupyter_core==5.7.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kaleido==0.2.1
keras==3.5.0
keyring==24.3.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
kubernetes==30.1.0
langchain==0.2.11
langchain-cohere==0.1.4
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langsmith==0.1.93
lazy_loader==0.4
Levenshtein==0.25.1
libclang==18.1.1
libdeeplake==0.0.118
llama-index==0.9.30
llama-index-core==0.11.1
llama-index-tools-yahoo-finance==0.2.0
llmware==0.2.1
llvmlite==0.41.1
lru-dict==1.3.0
lumibot==2.9.13
lumiwealth-tradier==0.1.7
lxml==4.9.3
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
marshmallow-sqlalchemy==1.0.0
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdurl==0.1.2
microchain-python==0.3.3
mistune==3.0.2
ml-dtypes==0.3.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.0.0
msgpack==1.0.3
multiaddr==0.0.9
multidict==6.0.4
multiprocess==0.70.16
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.8
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.2.1
nltk==3.9.1
nodeenv==1.9.1
notebook==7.2.0
notebook_shim==0.2.4
numba==0.58.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.18.1
openai==1.37.1
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.6
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.0.3
pandas-datareader==0.10.0
pandas_market_calendars==4.4.1
pandocfilters==1.5.1
parsimonious==0.8.1
parso==0.8.3
passlib==1.7.4
pathos==0.3.2
pathspec==0.12.1
patsy==0.5.6
pdf2image==1.16.0
pdfkit==1.0.0
peewee==3.17.6
pexpect==4.9.0
pgvector==0.2.4
pillow==10.2.0
pkginfo==1.11.1
platformdirs==4.1.0
playwright==1.46.0
plotly==5.22.0
pluggy==1.3.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
polygon-api-client==1.14.2
posthog==3.5.0
pox==0.3.4
ppft==1.7.6.8
pre-commit==3.8.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.4
psutil==5.9.8
psycopg==3.1.17
psycopg-binary==3.1.17
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.26.1
pycares==4.4.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pydub==0.25.1
pyee==11.1.0
PyGithub==2.1.1
Pygments==2.16.1
PyGObject==3.48.2
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pyluach==2.2.0
pymilvus==2.3.0
pymongo==4.5.0
PyNaCl==1.5.0
pyparsing==3.1.1
pypdf==4.3.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.1.0
pyrate-limiter==3.6.1
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.4
pytest-base-url==2.1.0
pytest-playwright==0.5.1
python-bidi==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger==2.0.7
python-multipart==0.0.6
python-slugify==8.0.4
python-socketio==5.11.3
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==24.0.1
qrcode==7.4.2
Quandl==3.7.0
quantfreedom==0.2.1.0
QuantStats==0.0.62
quantstats-lumi==0.3.1
rapidfuzz==3.9.4
referencing==0.30.2
regex==2024.7.24
reportlab==4.2.2
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rlp==2.0.1
rpds-py==0.10.6
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.2
scikit-image==0.24.0
scikit-learn==1.4.0
scipy==1.10.1
seaborn==0.13.2
sec-edgar-downloader==5.0.2
selenium==4.9.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
speaklater==1.3
SQLAlchemy==2.0.25
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.35.1
statsmodels==0.14.3
streamlit==1.28.0
supervision==0.22.0
svglib==1.5.1
sympy==1.6
TA-Lib==0.4.32
tables==3.9.2
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2024.8.30
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.2.0
torchvision==0.17.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.37.2
trio==0.26.2
trio-websocket==0.11.1
trove-classifiers==2024.7.2
tweepy==4.14.0
tweet-preprocessor==0.6.0
typer==0.9.0
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
ujson==5.9.0
uri-template==1.3.0
uritools==4.0.3
urllib3==1.26.20
uuid==1.30
uvicorn==0.25.0
uvloop==0.19.0
validators==0.22.0
varint==1.0.2
virtualenv==20.26.3
watchfiles==0.22.0
wcwidth==0.2.13
web3==5.31.4
webcolors==24.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension==4.0.11
Wikipedia-API==0.6.0
word2number==1.1
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.1.2
xattr==1.1.0
xhtml2pdf==0.2.16
xxhash==3.4.1
yarl==1.9.2
yfinance==0.2.41
zipp==3.17.0
